html {
    font-family: 'arial';
}

h4 {
    margin-left: 200px;
}

.input-field {
    position: relative;
    margin-top: 50px;
    margin-bottom: 1rem;
    margin-right: 40px;
}

.blue.lighten-3 {
    background-color: #90CAF9 !important;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.tabs .tab a {
    color: rgba(255, 255, 255, 0.9) !important;
}

.tabs .tab a:hover,
.tabs .tab a.active {
    background-color: rgba(255, 255, 255, 0.9) !important;
    color: #90CAF9 !important;
}

#tabs-swipe-demo .indicator {
    background-color: #42a5f5;
}

table.info {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*h5 {
    padding-left: 50px;
}*/

td,
th {
    padding: 60px 20px 60px 20px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}

.btn-flat {
    margin-left: 850px;
    font-weight: bold;
    margin-top: 40px;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    margin-left: 150px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}

#body_boletimVisualizacao {
    background-image: url(../assets/img/s.png);
    background-size: auto;
}

#container_boletimVisualizacao {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 30px 80px 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    text-shadow: 0.3px 0.3px 0.3px #111;
}

#container_boletimVisualizacao ::placeholder {
    text-shadow: 0.5px 0.5px 0.5px #111;
}

#btnfoto {
    background-color: #64b5f6;
    width: 50px;
}

@media (max-width: 500px) {
    #a {
        margin-left: 43px;
    }
}

#lbl {
    color: #64b5f6;
}