html {
    font-family: 'arial';
}

h4 {
    margin-left: 200px;
}

.input-field {
    position: relative;
    margin-top: 50px;
    margin-bottom: 1rem;
    margin-right: 40px;
}

.blue.lighten-3 {
    background-color: #90CAF9 !important;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.tabs .tab a {
    color: rgba(255, 255, 255, 0.9) !important;
}

.tabs .tab a:hover,
.tabs .tab a.active {
    background-color: rgba(255, 255, 255, 0.9) !important;
    color: #90CAF9 !important;
}

#tabs-swipe-demo .indicator {
    background-color: #42a5f5;
}

table.striped>tbody>tr {
    background-color: #bbdefb;
    /* whatever color you want */
}

table.info {
    margin-top: 15px;
    margin-bottom: 15px;
}