/*Cor do texto*/

#tabs-swipe-demo .tab a {
    color: black;
}


/*Cor do texto ao passar o mouse*/

#tabs-swipe-demo .tab a:hover {
    background-color: #90caf9;
}


/*Cor do plano de fundo e do texto quando uma guia está ativa*/

#tabs-swipe-demo .tab a.active {
    background-color: #bbdefb;
}


/*Cor do sublinhado
*/

#tabs-swipe-demo .indicator {
    background-color: #42a5f5;
}

#aluno {
    width: auto;
    margin-top: 15px;
    margin-left: 10px;
}

#responsavel {
    width: auto;
    margin-top: 15px;
    margin-left: 10px;
}

#professor {
    width: auto;
    margin-top: 15px;
    margin-left: 10px;
}

#secretaria {
    width: auto;
    margin-top: 15px;
    margin-left: 10px;
}