            /*Cor do texto*/

            #tabs-swipe-demo .tab a {
                color: black;
            }
            /*Cor do texto ao passar o mouse*/

            #tabs-swipe-demo .tab a:hover {
                background-color: #42a5f5;
            }
            /*Cor do plano de fundo e do texto quando uma guia está ativa*/

            #tabs-swipe-demo .tab a.active {
                background-color: #bbdefb;
            }
            /*Cor do sublinhado*/

            #tabs-swipe-demo .indicator {
                background-color: #42a5f5;
            }

            #aluno {
                width: auto;
                margin-top: 15px;
                margin-left: 10px;
            }

            #responsavel {
                width: auto;
                margin-top: 15px;
                margin-left: 10px;
            }

            #professor {
                width: auto;
                margin-top: 15px;
                margin-left: 10px;
            }

            #secretaria {
                width: auto;
                margin-top: 15px;
                margin-left: 10px;
            }

            .checkbox-blue-grey[type="checkbox"].filled-in:checked+span:not(.lever):after {
                border: 2px solid #64b5f6;
                background-color: #64b5f6;
            }

            .validate:focus {
                background-color: #64b5f6;
                border-bottom: 1px solid #64b5f6 !important;
                box-shadow: 0 1px 0 0 #64b5f6 !important;
            }

            #lbl {
                color: #64b5f6;
            }
<<<<<<< HEAD

            #complemento {
              margin-left: 26px;
            }

            #confsenha{
              margin-left: 46px;
            }
=======
            
            #data_nascimento:focus {
                border-bottom: 1px solid #64b5f6 !important;
                box-shadow: 0 1px 0 0 #64b5f6 !important;
            }
>>>>>>> d02c2f9a247fae114475a0804610af495a5307d2
