.checkbox-blue-grey[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #64b5f6;
    background-color: #64b5f6;
}

#qtd::-webkit-slider-thumb {
    background: #64b5f6;
}