#modalChamada {
    max-height: 100%;
    overflow: visible;
}


/*  modalTurmaBoletim   */

#modalTurmaBoletim {
    max-height: 100%;
    overflow: visible;
}


/*  modalBoletimSelect  */

#modalBoletimSelect {
    max-height: 100%;
    overflow: visible;
}

#modalSelectChamada {
    max-height: 100%;
    overflow: visible;
}