#mensagens {
    width: 1200px;
    height: 600px;
    max-height: 1600px;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid rgba(221, 221, 221, 0.815);
    border-radius: 3px;
    padding: 8px;
    margin: 4px;
}